# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
.venv/*

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.pytest_cache/

# Coverage
htmlcov/
.coverage
.coverage.*

# MyPy
.mypy_cache/

# VSCode
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Jupyter Notebook checkpoints (si tu utilises .ipynb pour des exemples)
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp

# Secrets / Keys
